:root {
  --font-size: 24px;
}
* {
  font-family: "Space Mono", monospace;
}
body {
  width: 100%;
  height: 100vh;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  background-color: #c5e4e7;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

/* header */
header {
  text-align: center;
}
/* main */
.main {
  max-width: 60%;
  background: white;
  display: flex;
  gap: 2rem;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgb(133 133 133 / 52%);
}
main section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.section-left {
  gap: 2.2rem;
}
.input-contain {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 0.5rem;
}
.bill-error {
  display: inline-block;
  white-space: nowrap;
}
.bill-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bill-header label {
  font-size: 14px;
  color: #5e7a7d;
  font-weight: 700;
}
.bill-header .bill-error {
  font-size: 14px;
  color: #b47d6e;
  font-weight: 700;
  display: none;
}
.input-contain input {
  border: none;
  cursor: text;
  padding: 0.3rem 0.7rem;
  text-align: right;
  background: #f4fafa;
  color: #00494d;
  font: arial;
  font-weight: 700;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-contain img {
  position: absolute;
  top: 60%;
  left: 5%;
}

input:hover,
input:focus,
input:focus-visible,
input:focus-within,
input:active {
  outline: 4px auto #26c0ab;
}

.tip-select {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tip-select label {
  font-size: 14px;
  color: #5e7a7d;
  font-weight: 700;
}
.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
.options .option {
  border-radius: 5px;
  overflow: hidden;
}
.options div,
.options input {
  width: 30%;
  font-size: var(--font-size);
  font-weight: 700;
}
.options input {
  border: none;
  cursor: pointer;
  padding: 0.3rem 0.7rem;
  text-align: right;
  background: #f4fafa;
  color: #00494d;
}
.option input[type="radio"] {
  border: none;
  width: 0px;
  opacity: 0;
  outline: none;
  position: fixed;
}
.options .option label {
  display: inline-block;
  font-size: var(--font-size);
  padding: 0.3rem 0.7rem;
  color: #f4fafa;
  background: #00494d;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}
.options input {
  border: none;
  cursor: text;
  padding: 0.3rem 0.7rem;
  text-align: right;
  background: #f4fafa;
  color: #00494d;
  border-radius: 5px;
  width: 30%;
  font-size: var(--font-size);
  font-weight: 700;
}
.options input[type="radio"]:checked + label {
  color: #00494d;
  background: #26c0ab;
}
.options input[type="radio"]:hover + label,
.options input[type="radio"]:focus + label,
.options input[type="radio"]:focus-visible + label,
.options input[type="radio"]:focus-within + label,
.options input[type="radio"]:active + label {
  color: #00494d;
  background: #a1e8e0;
}
.options input:hover,
.options input:focus,
.options input:focus-visible,
.options input:focus-within,
.options input:active {
  outline: 4px auto #26c0ab;
}

.section-right {
  padding: 3rem 2rem;
  background: #00494d;
  border-radius: 1rem;
}

.section-right .result-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 6.8rem;
}

.result-wrapper .results {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 2.5rem;
}
.results .result {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.results .result label {
  color: white;
}
.results .result label p {
  color: #7f9c9f;
  font-weight: 700;
}
.results .result div {
  font-size: calc(var(--font-size) * 2);
  font-weight: 700;
  color: #26c0ab;
}
.section-right .result-wrapper button {
  width: 100%;
  padding: 0.5rem;
  background: #26c0ab;
  font-size: var(--font-size);
  color: #00494d;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}
